svg {
    border: 0px solid gray;
    width: 100%
    height: 100%;
}

body,html,#viz {
  width: 100%;
  height: 100%;
  background-color: white;
}

g.am-axis text {
  font-size: 8px;
  fill: blue;
}

.domain {
  fill: none;
}

rect {
  fill: white;
}

/*rect.active {
  fill: black;
}*/

.tick > line {
  stroke: white;
  stroke-width: 1px;
  stroke-opacity: 0.25;
}